In [2]:
import datetime
current_time = datetime.datetime.now()
print("LAB 12 SHUBHANG GUPTA",str(current_time))

LAB 12 SHUBHANG GUPTA 2022-12-09 19:01:25.212847

In [3]:
import sqlite3

In [4]:
conn=sqlite3.connect('datab11.db')
print("Conected to the database")
c=conn.cursor()

Conected to the database

In [5]:
c.execute("""CREATE TABLE student (ID integer,
Name text,
Phone integer
)""")

In [6]:
c.execute("INSERT INTO student VALUES (3,'kunit',5555574321)")
c.execute("INSERT INTO student VALUES (4,'junit',5555098755)")
c.execute("INSERT INTO student VALUES (5,'sunit',9999974321)")
print("Total number of rows updated :",conn.total_changes)

Total number of rows updated : 3

In [7]:
c.execute("SELECT * FROM student")
print(c.fetchall())

[(3, 'kunit', 5555574321), (4, 'junit', 5555098755), (5, 'sunit', 9999974321)]

In [8]:
c.execute("SELECT *from student WHERE Name='junit'")
print(c.fetchone())

(4, 'junit', 5555098755)

In [9]:
conn.execute("UPDATE student SET Name = 'Saam' where ID=3")

In [10]:
c.execute("DELETE from student where Name='Saam'")

In [11]:
rows = c.execute("SELECT * FROM student")
for i in rows:
    print(i)

(4, 'junit', 5555098755)
(5, 'sunit', 9999974321)

In [12]:
c.close()
conn.close()

In [13]:
import datetime
current_time = datetime.datetime.now()
print("LAB 12 SHUBHANG GUPTA",str(current_time))

LAB 12 SHUBHANG GUPTA 2022-12-09 19:02:02.196842

In [14]:
conn=sqlite3.connect('datab1.db')
print("Conected to the database")
c=conn.cursor()

Conected to the database

In [15]:
c.execute("CREATE TABLE person (name, age, id)")

In [16]:
n=3
print ("Enter 3 students names:")
name = [input() for i in range(n)]
print ("Enter 3 students age:")
age = [int(input()) for i in range(n)]
print ("Enter 3 students ids:")
id = [int(input()) for i in range(n)]
m = len(name)
for i in range(m):
       c.execute("insert into person values(?,?,?)", (name[i], age[i], id[i]))

Enter 3 students names:
Ram
Shyam
Radhe
Enter 3 students age:
20
25
54
Enter 3 students ids:
1
2
3

In [17]:
c.execute("SELECT * FROM person")
print(c.fetchall())

[('Ram', 20, 1), ('Shyam', 25, 2), ('Radhe', 54, 3)]

In [18]:
c.close()
conn.close()

In [1]:
import datetime
current_time = datetime.datetime.now()
print("LAB 12 SHUBHANG GUPTA",str(current_time))

LAB 12 SHUBHANG GUPTA 2022-12-11 14:21:45.522528

In [19]:
import pandas as pd
import sqlite3
df= pd.DataFrame({'name':['juan', 'victoria','mary'],
                 'age': [23,24,25],
                 'city': ['miami', 'buenos aires','santiago']})

In [20]:
con = sqlite3.connect('DFIS_sql.db')
df.to_sql('friends', con)

3

In [21]:
c=con.cursor()

In [22]:
c.execute('SELECT * FROM friends')
print(c.fetchall())

[(0, 'juan', 23, 'miami'), (1, 'victoria', 24, 'buenos aires'), (2, 'mary', 25, 'santiago')]

In [23]:
c.close()
con.close()